@import './../../assets/scss/variaveis.scss';

.weather {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: 30%;

    .weather-container {
        margin: 100px auto;
        flex-direction: column;
        gap: 50px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 20px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            p {
                text-align: left;
                min-width: 100px;
                color: $color-2;
            }

            input {
                padding: 5px;
                border-radius: 4px;
                color: $color-2;
            }
        }
    }
}