@import './../../assets/scss/variaveis.scss';

.menu {
    background-color: transparent;
    width: auto;
    height: auto;
    z-index: 10;
    // background-color: $branco;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    a {
        color: $preto;
        font-size: 16px;
        padding: 0 5px;
        margin: 0 10px;
    }

}
