@import './../../assets/scss/variaveis.scss';

.logo {

    &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p {
            color: $preto;
            white-space: nowrap;
            font-size: 18px;

            @include tablet {
                font-size: 14px;
            }
            
            &:first-child {
                font-weight: 600;
            }
        }
    }

    a {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    img {
        width: 50px;
        height: auto;
    }
}
