@import './../../assets/scss/variaveis.scss';

.header {
    background-color: $branco;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    height: 80px;
    z-index: 10;
    box-shadow:  0px 0px 20px 3px rgba($color: rgb(35, 35, 35), $alpha: .4); 
    padding: 15px 10px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @include tablet {
        height: 95px;
    }
    .container {
        @include tablet {
            flex-direction: column;
        }
    }


}
