@import './assets/scss/variaveis.scss';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $branco;
    padding-top: 80px;
    height: 100vh;
    
    @include tablet {
        padding-top: 95px;
    }

    &::-webkit-scrollbar {
        width: 6px;                /* roundness of the scroll thumb */
    }
    
    &::-webkit-scrollbar-track {
        background: $white;        /* color of the tracking area */
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $azul;    /* color of the scroll thumb */
        border-radius: 0px;       /* roundness of the scroll thumb */
        // border: 3px solid orange;  /* creates padding around scroll thumb */
    }
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.default-title {
        font-size: 2.6rem;
        font-weight: $f-black;
        color: $text-color-1;
        width: 100%;
        padding: 30px 0;
        text-align: center;
        position: relative;
}