@import './../../assets/scss/variaveis.scss';

.ongs {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: 30%;

    .ongs__list {
        flex-direction: column !important;
    }

    .ongs__item {
        width: 100%;
    }

    .ongs__info {
        width: 100%;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 3px 4px 3px rgba(#000,.1);
        border-radius: 16px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        p {
            color: $color-2;
            text-align: left;
        }
    }
}