@import './../../assets/scss/variaveis.scss';
@import './../../assets/scss/animation.scss';

.home-text {
    width: 100%;
    height: auto;
    z-index: 10;
    background-color: $color-1-600;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    
    @include tablet {
        padding: 10px 0 40px;
    }

    .container {
        z-index: 10;
        position: relative;
        height: 100%;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }


    p {
        color: $cinza;
        width: 60%;
        text-align: justify;

        @include tablet {
            width: 100%;
        }
    }
    
    a {
        color: $cinza;
        width: 60%;

        @include tablet {
            width: 100%;
        }
        
        span {
            color: $cinza;
            text-decoration: underline;
        }
    }
}
